.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }


  .login-form {
    display: grid;
    place-items: center; /* Center elements within the grid container */
    width: 400px;
    height: 150px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(124, 123, 123, 123);
  }


  
