.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

input,
button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: black;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.0em;
    width: 100px;
    margin: 15px;
}

button:hover {
    background-color: #0056b3;
}

.buttonGroup{
    margin-top: 2px;
}
// .btn1{
// background-color: #4caf50;
// }

// .btn2{
// background-color: #e74c3c;
// }

//  .btn1:hover{
// background-color: black;
// }

.change::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgb(7, 6, 7);
}

.change:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(7, 6, 7);
    opacity: 1;
}

.change::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(7, 6, 7);
    opacity: 1;
}

.change:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(7, 6, 7);
}

input[type="text"] {
    display: block;
    width: 300px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 1.5em;
}

.texto {
    font-size: 1.5em;
}